<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="allow.web.integration" value="true" />
		<add key="Allow.ReadMe.Corrections" value="false" />
		<add key="collin-criminal-case-parameter.json.overwrite" value="false" />
		<add key="collin-probate-case-parameter.json.overwrite" value="false" />
		<add key="collin-civil-and-family-case-parameter.json.overwrite" value="false" />
		<add key="collin-justice-case-parameter.json.overwrite" value="false" />
		<add key="harris.criminal.show.browser" value="true" />
		<add key="chrome.exe.location.0" value="C:\Program Files\Google\Chrome\Application.exe" />
		<add key="chrome.exe.location.1" value="C:\Program Files\Google\Chrome\Application\chrome.exe" />
		<add key="chrome.exe.location.2" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>