<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>
        Office of Harris County District Clerk - Marilyn Burgess | Case (Cause) Details 173566701010-3
    </title>
</head>
<body>
    <table border="0" cellpadding="3" cellspacing="0" class="tabcontentlist">
        <tbody>
            <tr>
                <td style="border-right: 1px solid #eeeeee;" valign="top">
                    <table cellpadding="0" cellspacing="0" class="cd_resultgrid" width="100%">
                        <tbody>
                            <tr class="resultgridheader">
                                <td colspan="2">Case (Cause) Summary </td>
                            </tr>

                            <tr>
                                <td style="font-weight: bold">Case</td>
                                <td>173566701010 - 3</td>
                            </tr>

                            <tr class="rowAlt">
                                <td style="font-weight: bold">File Date</td>
                                <td>8/15/2021</td>
                            </tr>

                            <tr>
                                <td style="font-weight: bold">Case (Cause) Status</td>
                                <td>Active  - CRIMINAL</td>
                            </tr>

                            <tr class="rowAlt">
                                <td style="font-weight: bold">Offense</td>
                                <td>FELON POSS WPN</td>
                            </tr>

                            <tr>
                                <td style="font-weight: bold">Last Instrument Filed</td>
                                <td>Complaint</td>
                            </tr>

                            <tr class="rowAlt">
                                <td style="font-weight: bold">Case Disposition</td>
                                <td>    </td>
                            </tr>

                            <tr>
                                <td style="font-weight: bold">Case Completion Date</td>
                                <td>1/1/0001</td>
                            </tr>

                            <tr class="rowAlt">
                                <td style="font-weight: bold">Defendant Status</td>
                                <td>BOND MADE</td>
                            </tr>

                            <tr>
                                <td style="font-weight: bold">Bond Amount</td>
                                <td>$5,000.00</td>
                            </tr>

                            <tr class="rowAlt">
                                <td style="font-weight: bold">Next/Last Setting Date</td>
                                <td>11/4/2021</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="white-space: normal;">
                        <tbody>
                            <tr>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td valign="top">
                    <div id="ctl00_ContentPlaceHolder1_tabContainerSearchResults_tabSummary_pnlCrimDefDet">

                        <table cellpadding="0" cellspacing="0" class="cd_resultgrid" width="100%">
                            <tbody>
                                <tr class="resultgridheader">
                                    <td colspan="2">Defendant Details </td>
                                </tr>
                                <tr style="border-bottom: none" valign="top">
                                    <td style="padding: 0 0 0 0;">
                                        <table cellpadding="0" cellspacing="0" class="cd_resultgrid" style="border-bottom: none">

                                            <tbody>
                                                <tr>
                                                    <td style="font-weight: bold">Race/Sex</td>
                                                    <td>W / M</td>
                                                </tr>

                                                <tr class="rowAlt">
                                                    <td style="font-weight: bold">Eyes</td>
                                                    <td>   </td>
                                                </tr>

                                                <tr>
                                                    <td style="font-weight: bold">Skin</td>
                                                    <td>   </td>
                                                </tr>

                                                <tr class="rowAlt">
                                                    <td style="font-weight: bold">DOB</td>
                                                    <td>4/29/1961</td>
                                                </tr>

                                                <tr>
                                                    <td style="font-weight: bold">US Citizen</td>
                                                    <td>Unknown</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="padding: 0 0 0 0;">
                                        <table cellpadding="0" cellspacing="0" class="cd_resultgrid" style="border-bottom: none">

                                            <tbody>
                                                <tr>
                                                    <td style="font-weight: bold">Height/Weight</td>
                                                    <td>5'07 / 145 LBS</td>
                                                </tr>

                                                <tr class="rowAlt">
                                                    <td style="font-weight: bold">Hair</td>
                                                    <td>   </td>
                                                </tr>

                                                <tr>
                                                    <td style="font-weight: bold">Build</td>
                                                    <td>   </td>
                                                </tr>

                                                <tr class="rowAlt">
                                                    <td style="font-weight: bold">In Custody</td>
                                                    <td>N</td>
                                                </tr>

                                                <tr>
                                                    <td style="font-weight: bold">Place Of Birth</td>
                                                    <td>  </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="font-weight: bold">Address</td>
                                    <td>7215 ASHCROFT DR, HOUSTON, TX  77081</td>
                                </tr>

                                <tr class="rowAlt">
                                    <td style="font-weight: bold">Markings</td>
                                    <td> </td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                    </div>

                    <table cellpadding="0" cellspacing="0" class="cd_resultgrid" width="100%">
                        <tbody>
                            <tr class="resultgridheader">
                                <td colspan="2">The Current Presiding Judge</td>
                            </tr>

                            <tr>
                                <td style="font-weight: bold">Current Court</td>
                                <td>182<sup>nd</sup></td>
                            </tr>

                            <tr class="rowAlt">
                                <td style="font-weight: bold">Address</td>
                                <td>1200 Congress (Floor: 1)<br />Houston, TX 77002<br />Phone:7137556350</td>
                            </tr>

                            <tr>
                                <td style="font-weight: bold">JudgeName</td>
                                <td>Danilo Lacayo</td>
                            </tr>

                            <tr class="rowAlt">
                                <td style="font-weight: bold">Court Type</td>
                                <td>Criminal</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>